:root {
  --grey-100: #dae0e6;
  --grey-800: #353535;
  --grey-900: #1a1a1b;
  --blue-400: #24a0ed;

  /* Default Theme */
  --background: var(--grey-100);
  --foreground: white;
  --font-color: var(--grey-900);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

body.theme-dark {
  --background: var(--grey-800);
  --foreground: var(--grey-900);
  --font-color: var(--grey-100);
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--foreground);
}

.site-header__logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-header__logo-container__logo {
  height: 24px;
  width: 24px;
}

.site-header__logo-container__title {
  color: var(--grey-100);
  margin: 0 0 0 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
}

.site-header__profile {
  height: 24px;
  width: 24px;
  color: var(--font-color);
}

.site-main {
  padding: 8px;
  flex-grow: 1;
  position: relative;
  overflow-y: scroll;
}

.site-main > *:first-child {
  height: 100%;
}
